<header class="header">
    <div class="conteniner">
      <nav class="header__nav">
        <a href="" class="header__logo">
          <img src="./imges/film.svg" alt="">
          <p class="logo-text">Filmoteka</p>
        </a>
        <ul class="nav__list">
          <li class="nav__item"><a href="./index.html" class="nav__link nav__link--current">home</a></li>
          <li class="nav__item"><a href="./partials/library.html" class="nav__link">my library</a></li>
        </ul>
      </nav>
      <form action="" class="serch-films">
        <input type="text" placeholder="Movie search" class="serch-films__input">
        <button type="submit" class="serch-films__button"></button>
      </form>
    </div>
  </header>