<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmoteka</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../sass/index.scss" />
    <script type="module" src="../js/library.js"></script>

</head>

<body>
    <div class="wrapper">
        <header class="header library">
            <div class="conteniner">
                <nav class="header__nav">
                    <a href="" class="header__logo">
                        <img src="../imges/film.svg" alt="">
                    </a>
                    <ul class="nav__list">
                        <li class="nav__item"><a href="../index.html" class="nav__lin">home</a></li>
                        <li class="nav__item"><a href="./library.html" class="nav__link nav__link--current">my
                                library</a></li>
                    </ul>
                </nav>
                <div class="lib__button">
                    <button type="button" class="header__button watched">watched</button>
                    <button type="button" class="header__button queue">queue</button>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <section class="library-films">
                    <ul class="library__cards">
                        <!-- <li class="cards__item">
              <div class="film">
                <div class="poster__wrraper">
                  <img src="./imges/Rectangle.jpg" alt="" class="poster">
                </div>
                <div class="film__titel">
                  <h2 class="film__name">Harry Potter</h2>
                  <div class="film__pre-info">
                    <p class="film__gener">fantast</p>
                    <span>|</span>
                    <p class="film__reliz">2020</p>
                  </div>
                </div>
              </div>
            </li> -->
                    </ul>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="container footer__content">
                <p>© 2023 | All Rights Reserved | </p>
                <div class="footer__about">
                    <p class="about__text">Developed with</p>
                    <img src="../imges/heart.svg" alt="" width="14" height="12" class="footer__heart">
                    <p class="about__text">by <a href="">GoIT Students</a></p>
                </div>
            </div>
        </footer>
    </div>