<main class="main">
    <div class="container">
      <section class="cards-film">
        <ul class="cards__list">
          <!-- <li class="cards__item">
            <div class="film">
              <div class="poster__wrraper">
                <img src="./imges/Rectangle.jpg" alt="" class="poster">
              </div>
              <div class="film__titel">
                <h2 class="film__name">Harry Potter</h2>
                <div class="film__pre-info">
                  <p class="film__gener">fantast</p>
                  <span>|</span>
                  <p class="film__reliz">2020</p>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
        <div class="pages">
          <button class="page__button page__button-end">></button>
          <ul class="page__list">
            <li class="page__item">
              <button class="btn-numb-page btn-page-curr" data-numb="1">1</button>
            </li>
            <li class="page__item">
              <button class="btn-numb-page" data-numb="2">2</button>
            </li>
            <li class="page__item">
              <button class="btn-numb-page" data-numb="3">3</button>
            <li class="page__item">
              <button class="btn-numb-page" data-numb="4">4</button>
            </li>
            <li class="page__item">
              <button class="btn-numb-page" data-numb="5">5</button>
            </li>
          </ul>
          <button class="page__button page__button-next">></button>
        </div>
      </section>
    </div>
  </main>