<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__close">
      <img src="./imges/close.svg" alt="" />
    </button>
    <div class="wrraper-inform">
      <!-- <div class="modal__wrrap-poster">
        <img
          src="./imges/Rectangle.jpg"
          alt=""
          class="modal__poster"
          width="240"
          height="357"
        />
      </div>
      <h2 class="modal__titel">A FISTFUL OF LEAD</h2>
      <div class="modal__info-film">
        <ul class="modal__info-list">
          <li class="modal__info-item">
            <p class="modal__vote">Vote / Votes</p>
          </li>
          <li class="modal__info-item">
            <p class="modal__popularity">Popularity</p>
          </li>
          <li class="modal__info-item">
            <p class="modal__origin-titel">Original Title</p>
          </li>
          <li class="modal__info-item">
            <p class="modal__genre">Genre</p>
          </li>
        </ul>
        <ul class="modal__value-list">
          <li class="modal__value-item">
            <p class="value-vote"><span>7.3</span>/ 1260</p>
          </li>
          <li class="modal__value-item">
            <p class="value-popularity">100.2</p>
          </li>
          <li class="modal__value-item">
            <p class="value-origin-titel">A FISTFUL OF LEAD</p>
          </li>
          <li class="modal__value-item">
            <p class="value-genre">Western</p>
          </li>
        </ul>
      </div>
      <div class="modal__about">
        <h2 class="modal__about-titel">About</h2>
        <p class="modal__about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
      <div class="modal__buttons">
        <button class="modal__button button-watched">add to watched</button>
        <button class="modal__button button-queue">add to queue</button>
      </div> -->
    </div>
  </div>
</div>
